// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-balance-list {
  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  li {
    margin-bottom: 5px;
    position: relative;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .budget, .progress-bar {
    position: absolute;
  }
  .budget, .value {
    color: $value-color;
    font-weight: 600;
  }

  .budget {
    right: 0;
    text-align: right;
  }

  .value {
    padding: 0 10px;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .progress-bar {
    width: 40%;
    right: 10%;
    background: #555;
    box-sizing: border-box;

    .bar {
      width: 0;
      display: block;
      max-width: 100%;
    }

    .over { background-color: red; }
    .close { background-color: orange; }
    .under { background-color: green; }
  }
}
