<% content_for :title do %>Financial Dashboard<% end %>

<div class="gridster">

  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="checking" data-view="Number"
           data-moreinfo="" data-prefix="$" />
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="emergency-savings" data-view="Number"
           data-moreinfo="" data-prefix="$" />
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="house-savings" data-view="Number"
           data-moreinfo="$50K Goal" data-prefix="$" />
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mark-cbl-savings" data-view="Number"
           data-moreinfo="" data-prefix="$" />
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="expenses-groceries" data-view="Number"
           data-moreinfo="" data-prefix="$" />
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="expenses-gas" data-view="Number"
           data-moreinfo="" data-prefix="$" />
    </li>

  </ul>

</div>
